<header>
   <p  style='font-size:36px;font-family:Arial; color:#F0F0F0; background-color: #00233c; padding-left: 20pt; padding-top: 20pt;padding-bottom: 10pt; padding-right: 20pt;'>
       Getting Started with Teradata MCP Server on Teradata Vantage Enterprise - Installation
  <br>
       <img id="teradata-logo" src="https://storage.googleapis.com/clearscape_analytics_demo_data/DEMO_Logo/teradata.svg" alt="Teradata" style="width: 125px; height: auto; margin-top: 20pt;">
    </p>
</header>

<p style = 'font-size:20px;font-family:Arial;'><b>Introduction</b></p>
<p style="font-size:16px;font-family:Arial;">
This notebook downloads and installs the required infrasturcture to run this <b>Getting Started with Teradata MCP Server on Teradata Vantage Enterprise</b> demo.  
It will installs the essential dependencies, verifies the MCP-client setup, and connects to a Vantage instance for subsequent notebooks 
that illustrate model management, registration, and execution workflows through MCP.
</p>

<hr style="height:2px;border:none;">
<p style = 'font-size:20px;font-family:Arial;'><b>1. Connect to Vantage and Import packages</b></p>
<p style="font-size:16px;font-family:Arial;">We begin by installing the essential Python packages needed for this demo:</p>
<ul style="font-size:16px;font-family:Arial;">
<li><code>chatbot_widget</code> – a simple interactive widget to create chatbot interfaces inside notebooks.</li>
<li><code>teradataml-plus</code> – the extended Python interface for Teradata Vantage, enabling seamless analytics operations.</li>
<li><code>plotly</code> – for visualizing data loaded into the database.</li>
</ul>

In [1]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install "git+https://github.com/martinhillebrand/chatbot-widget.git"

In [2]:
%%capture
# #'%%capture' suppresses the display of installation steps of the following packages
!pip install teradataml-plus plotly

<hr style="height:2px;border:none;">
<b style = 'font-size:18px;font-family:Arial;'> 1.1 Clone the Teradata MCP Server Repository</b>
<p style = 'font-size:16px;font-family:Arial;'>This open-source repository is available to everyone on github. You can use this link to view or clone our latest MCP Server environment anytime.</p>

In [3]:
!git clone  https://github.com/Teradata/teradata-mcp-server.git

fatal: destination path 'teradata-mcp-server' already exists and is not an empty directory.

In [4]:
!ls

00-Setup_demo.ipynb	randoms_server.log	tdmcpcommunity.py
01-chat_with_MCP.ipynb	sample_data_jaffleshop	tdmcpcommunity_server.log
example_chat.png	startup.ipynb		teradata-mcp-server

In [5]:
import tomllib,shlex

with open("teradata-mcp-server/pyproject.toml", "rb") as f:
    deps = tomllib.load(f)["project"]["dependencies"]
deps_str = " ".join(shlex.quote(d) for d in deps)

print(deps_str)

'pydantic>=2.8.0,<3.0.0' 'fastmcp>=2.12.0,<3.0.0' 'mcp[cli]>=1.0.0,<2.0.0' 'teradatasqlalchemy>=20.0.0.0' 'python-dotenv>=1.0.0' 'PyYAML>=6.0.0' 'sqlalchemy>=2.0.0,<3.0.0'

In [6]:
%%capture
# # '%%capture' suppresses the display of installation steps of the following packages
!pip install -U {deps_str}

<div class="alert alert-block alert-info">
<p style = 'font-size:16px;font-family:Arial;'><b>Note: </b><i>Be sure to restart the kernel after executing those lines to bring the installed libraries into memory. The simplest way to restart the Kernel is by typing zero zero: <b> 0 0</b></i></p>
</div>

<div class="alert alert-block alert-info">
<p style = 'font-size:16px;font-family:Arial'><b>FYI: </b><i>We can start the MCP server later through the wrapper script tdmcpcommunity.py</i></p>
</div>

In [1]:
import os
import pandas as pd
import teradataml as tdml

In [2]:
import os
import warnings
warnings.filterwarnings('ignore')

from teradataml import *
# Modify the following to match the specific client environment settings
display.max_rows = 5

<hr style="height:2px;border:none;">
<b style = 'font-size:18px;font-family:Arial;'> 1.2 Verify Installation</b>
<p style = 'font-size:16px;font-family:Arial;'>Once packages are installed, we verify that chatbot_widget has been imported successfully. If installation was successful, you’ll see the confirmation message below.</p>

In [3]:
import tdmlplus

In [4]:
try:
    import chatbot_widget
    print("chatbot_widget installed")
except:
    print("chatbot_widget could not be loaded, please restart the kernel")

chatbot_widget installed

<hr style="height:2px;border:none;">
<b style = 'font-size:18px;font-family:Arial;'> 1.3 Connect to Vantage</b>
<p style = 'font-size:16px;font-family:Arial;'>We will be prompted to provide the password. We will enter the password, press the Enter key, and then use the down arrow to go to the next cell.</p>

In [5]:
%run -i startup.ipynb
eng = create_context(host = '44.226.35.112', username='rz_usr', password = password)
print(eng)

Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.13/site-packages (2.0.46)
Collecting prettytable>=3.12.0 (from jupysql)
  Downloading prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.13/site-packages (from jupysql) (0.5.5)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.13/site-packages (from jupysql) (0.2.0)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.13/site-packages (from jupysql) (3.1.6)
Collecting sqlglot>=11.3.7 (from jupysql)
  Downloading sqlglot-28.7.0-py3-none-any.whl.metadata (22 kB)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.27-py3-none-any.whl.metadata (532 bytes)
Requirement already satisfied: greenlet>=1 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.13/site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.13/site-packages (from ploomber-core>=0.2.7->jupysql) (6.0.3)
Collecting posthog>=3.0 (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-7.8.0-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: requests<3.0,>=2.7 in /opt/conda/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.32.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in /opt/conda/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Requirement already satisfied: distro>=1.5.0 in /opt/conda/lib/python3.13/site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.9.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /opt/conda/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/conda/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.6.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.13/site-packages (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2025.11.12)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.13/site-packages (from prettytable>=3.12.0->jupysql) (0.2.14)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.13/site-packages (from jinja2->jupysql) (3.0.3)
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Downloading posthog-7.8.0-py3-none-any.whl (192 kB)
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Downloading prettytable-3.17.0-py3-none-any.whl (34 kB)
Downloading sqlglot-28.7.0-py3-none-any.whl (595 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 595.3/595.3 kB 6.8 MB/s  0:00:0036m-:--:--
Installing collected packages: sqlglot, prettytable, backoff, posthog, ploomber-core, jupysql-plugin, jupysql
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7/7 [jupysql]m6/7 [jupysql]
Successfully installed backoff-2.2.1 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-7.8.0 prettytable-3.17.0 sqlglot-28.7.0
Note: you may need to restart the kernel to use updated packages.
Performing setup ...
Setup complete

Enter password:  ········

... Logon successful
Connected as: teradatasql://rz_usr:xxxxx@44.226.35.112
Engine(teradatasql://rz_usr:***@44.226.35.112)

In [6]:
%%capture
execute_sql('''SET query_band='DEMO=00-Setup_demo.ipynb;' UPDATE FOR SESSION; ''')

<hr style="height:2px;border:none;">
<p style = 'font-size:20px;font-family:Arial;'><b>2. Load Sample Data into the Database</b></p>
<p style="font-size:16px;font-family:Arial;">
We’ll now load several CSV files from the <code>sample_data_jaffleshop</code> folder into our Teradata schema.  
Each CSV file corresponds to a small sample table (e.g., customers, orders, products).  
The <code>copy_to_sql()</code> function automatically creates and populates the tables.
</p>
<ul style="font-size:16px;font-family:Arial;">
<li>Iterate through all CSV files.</li>
<li>Create a table for each file in Vantage.</li>
<li>Confirm each upload in the cell output.</li>
</ul>

In [7]:
all_csvs = os.listdir("sample_data_jaffleshop/")
for f in all_csvs:
    if f.endswith(".csv"):
        table_name = f.split(".csv")[0]
        df = pd.read_csv("sample_data_jaffleshop/"+f)
        tdml.copy_to_sql(df, table_name, if_exists="replace")
        print(table_name, " uploaded")

customer_lifetime_value  uploaded
raw_customers  uploaded
lim_customers  uploaded
stg_orders  uploaded
stg_payments  uploaded
dim_customers  uploaded
stg_customers  uploaded
lim_payments  uploaded
customer  uploaded
order_payments  uploaded
lim_orders  uploaded
raw_orders  uploaded
sim_orders  uploaded
key_customer  uploaded
raw_payments  uploaded
fct_orders  uploaded
dim_payment_method  uploaded
sim_customers  uploaded
sim_payments  uploaded

<hr style="height:2px;border:none;">
<p style = 'font-size:20px;font-family:Arial;'><b>2. Explore the Uploaded Tables</b></p>
<p style="font-size:16px;font-family:Arial;">
We use the <code>widgets.tab_dfs()</code> function to preview all uploaded tables interactively. The table names are retrieved from the list that we just created, <code>all_csvs</code>. This step lets us verify that the data has been correctly copied into the Vantage database.
</p>

In [8]:
tdml.widgets.tab_dfs(table_names = [f.split(".csv")[0] for f in all_csvs] )

<hr style="height:2px;border:none;">
<b style = 'font-size:20px;font-family:Arial;'>3. Cleanup</b></p>
<p style="font-size:16px;font-family:Arial;">
Finally, we remove the active database context using <code>remove_context()</code>.  
This ensures that all database connections are safely closed and resources are released.
</p>

In [9]:
remove_context()

True